* {
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0px;
}

nav{
    width: 100%;
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-items a, .hero p{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.hero{
    display: flex;
    background-color: #1f2937;
    height: 100%;
    padding: 80px 15% 80px 15%;
    gap: 50px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero a{
    background-color: #3882f6;
    text-decoration: none;
}

.btn{
    border-radius: 10px;
    padding: 10px  30px 10px 30px;
    background: #3882f6;
    width: max-content;
    max-width: 100%;
    color: #f9faf8;
    font-weight: 600;
}

.information{
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 100px 20px;
    gap: 50px;
}

.information-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.information h1{
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
}

.information-image p{
    color: grey;
    font-weight: 400;
    font-size: 18px;
    text-align:center;
    max-width: 200px;
    word-break: break-word;
}

.information-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 200px 200px 200px 200px;
}

.quote h2{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote h3{
    color: #1f2937;
    font-weight: 500;
    align-self: flex-end;
}